body
{
	background: #ffffff;
}
/*Inicia configuracion css del Header*/
.container_header
{
	background: #333;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.logo a
{
	color: red;
	text-transform: uppercase;
	display: inline;
}
/*Inicia configuracion css para el menu_principal*/
.menu_principal
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}
.menu_principal li
{
	float: left;
}
.menu_principal li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.menu_principal li a:hover {
	background-color: #111;
}
/*Inicia configuracion css para el menu*/
.menu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}
.menu li a
{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/*Inicia configuracion css para el sub_menu*/
.sub_menu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}
.sub_menu li a
{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
.sub_menu li a:hover
{
	background-color: #555;
	color: white;
}
